<div id="MainContainer" class="ui raised very padded text container segment">
  <h1 class="ui center aligned icon header">To Do App</h1>

  <div class="ui fluid input field" style="margin-bottom: 15px;">
    <input type="text" name="keyupInput" (keyup.enter)="addTask()" [(ngModel)]="keyupInput" placeholder="Add task">
  </div>
  <button type="button" (click)="addTask()" id="AddButton" class="fluid ui blue button">
    + New Task
  </button>
  <div class="ui section divider"></div>

<div class="ui big aligned list" *ngFor="let task of taskList">
  <div class="item">
    <div class="content">
      <div class="ui blue segment">
        <p>{{ task.content }}</p>
        <div (click)="deleteTask(task.id)" class="ui right floated circular red mini icon button">
            <i class="trash alternate icon"></i>
          </div>
        <div (click)="editTask()" class="ui right floated circular blue mini icon button">
          <i class="pencil alternate icon"></i>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="content" *ngIf="taskList.length == 0">
    <h5 class="ui center aligned header">No tasks added yet!</h5>
    </div>

</div>

<router-outlet></router-outlet>
